* {
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ball {
    position: sticky;
    top: 100px;
    height: 20px;
    /* ! Change animation properties here! */
    transition: top 2s ease-out;
}

.content {
    height: 200px;
    width: 100vw;
    border: 1px solid black;
}

.fall {
    top: 70vh;
}

#bottom {
    background-color: lightgray;
}
